* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    background-color: #18191a;
}
header {
    background-color: #242526;
    height: 100%;
    padding: 9px 0px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.containerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

.facebook-icon { /* LOGO DO FACEBOOK */
    width: 40px;
    height: 40px;
}
.facebook-box-icon { /*BOX DO ICONE DE LUPA E INPUT*/ 
    display: flex;
}
.facebook-search i {
    color:#717377;
    margin-left: 20px;
}
.facebook-box-icon a {  /*DIV QUE ENGLOBA A LOGO DO SITE*/
    margin-right: 10px;
}

.facebook-search {
    background-color: #373839;
    border-radius: 30px;
    width: 290px;
    height: 40px;
    display: flex;
    align-items: center;
}
.facebook-search input { /*INPUT DO FACEBOOK*/
    border: none;
    color: #ffffff;
    background-color: transparent;
    outline: transparent;
    margin-left: 10px;
}
.facebook-box-home {
    display: flex;
    align-items: center;
}
.facebook-box-home i{
    color: #717377;
    font-size: 22px;
}

.facebook-box-home a {
    padding: 0px 40px;
    text-decoration: none;
}
.facebook-box-home a:hover {
    background-color: rgba(128, 128, 128, 0.15);
   padding: 10px 40px;
   border-radius: 10px;
}
.facebook-box-msg {
    display: flex;
    align-items: center;
}
.facebook-box-msg a:nth-child(n + 2){ /*Selecionará todos os filhos do elemento após o segundo*/
    font-size: 19px;
    text-decoration: none;
    color: #717377;
    border-radius: 100%;
    margin: 10px;
}
.facebook-box-msg a {
    text-decoration: none;
    color:#3e79f0 ;
}

.user-button  {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 120px;
    background-color: #0253f52d;
    border-radius: 30px;
    margin-right: 2px;
}
.user-button img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.user-button p {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.fb-profile-area {
background: rgba(228,178,56,1);
background: -moz-linear-gradient(top, rgba(228,178,56,1) 0%, rgba(36,37,38,1) 66%, rgba(36,37,38,1) 77%, rgba(36,37,38,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,178,56,1)), color-stop(66%, rgba(36,37,38,1)), color-stop(77%, rgba(36,37,38,1)), color-stop(100%, rgba(36,37,38,1)));
background: -webkit-linear-gradient(top, rgba(228,178,56,1) 0%, rgba(36,37,38,1) 66%, rgba(36,37,38,1) 77%, rgba(36,37,38,1) 100%);
background: -o-linear-gradient(top, rgba(228,178,56,1) 0%, rgba(36,37,38,1) 66%, rgba(36,37,38,1) 77%, rgba(36,37,38,1) 100%);
background: -ms-linear-gradient(top, rgba(228,178,56,1) 0%, rgba(36,37,38,1) 66%, rgba(36,37,38,1) 77%, rgba(36,37,38,1) 100%);
background: linear-gradient(to bottom, rgba(228,178,56,1) 0%, rgba(36,37,38,1) 66%, rgba(36,37,38,1) 77%, rgba(36,37,38,1) 100%);
width: 100%;
}

.fb-cover {
    background: url('../images/facebook-cover.jpg');
    height: 350px;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.profile-photo-area {
    border: 5px solid  #242526;
    border-radius: 100%;
    background-color: #242526;
}
.profile-photo {
    display: flex;
    justify-content: center;
    border: 5px solid #2d88ff;
    border-radius: 100%;
}
.profile-photo img {
    height: 160px;
    border-radius: 100%;
    padding: 5px;
}
.profile-photo img:hover {
    filter: contrast(90%);
}

.fb-cover-edit {
    display: flex;
    padding: 10px;
    background-color: cornsilk;
    border-radius: 7px;
}
.fb-cover-edit:hover {
    opacity: 0.9;
}
.fb-cover-edit i{
    margin-right: 5px;
}

.user-profile-area {
    display: flex;
    justify-content: center;
    margin-top: -150px;
}
.user-nav-content {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.user-bio {
    font-size: 30px;
    font-weight: bold;
    color: #e4e6eb;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 10px;
}
.user-bio a {
    font-size: 16px;
    text-decoration: none;
    color: #2d88ff;
}
.user-bio a:hover {
    text-decoration: underline;
}
.user-nav-content nav {
   border-top: 1px solid rgba(128, 128, 128, 0.301);
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.user-nav-content nav a {
    text-decoration: none;
    color:#989a9e ;
}
.user-nav-content ul {
    list-style: none;
    display: flex;
}
.user-nav-content ul li {
    padding: 10px;
    margin: 10px;
}
.user-nav-content ul li span {
   font-size: 13px;
}
.user-nav-content ul li i {
    color: gray;
}
.user-nav-content ul li:hover {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
    z-index: 2;
}
.create-story-box {
    display: flex;
    margin: 5px
}
.create-story {
    display: flex;
    padding: 10px  15px;
    background-color: #2d88ff;
    color: honeydew;
    border-radius: 10px; 
    margin-right: 5px;
}
.create-story i {
    margin-right: 7px;
}
.edit-profile-btn  {
    color: honeydew;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.15);
    margin-right: 5px;
}
.edit-profile-btn i {
    margin-right: 5px;
}
.general-btn  {
    color: honeydew;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.15);
    margin-right: 5px;
}

.container-grid {
    padding-top: 15px;
    display: grid;
    gap: 15px;
    justify-content: center;
     grid-template-areas: 
    "presentation post"
    "presentation publications"
    "presentation ."
    "photos ."    
    "friends ."
    ;
}

/********************SESSÃO DO CONTAINER DE APRESENTAÇÃO**************************/

.presentation-container {
    grid-area: presentation;
    background-color: #242526;
    padding: 15px;
    color: honeydew;
    border-radius: 10px;
}

.presentation-container ul {
    list-style: none;
}

.presentation-container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.presentation-container ul li i {
    margin-right: 15px;
}
.presentation-container ul li a {
    color: #2d88ff;
    text-decoration: none;
}

.presentation-buttons {
    display: flex;
    flex-direction: column;
}
.presentation-buttons button {
    background-color: #3a3b3c;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
    color: honeydew;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.presentation-buttons button:hover {
    filter: brightness(120%);
}

/*************** SESSÃO DE POSTAGEM ************************/

.post-container {
    grid-area: post;
    background-color: #242526;
    padding: 15px;
    color: honeydew;
    border-radius: 10px;    
}

.post-container img {
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.post-container img:hover {
    filter: contrast(85%);
}
.post-container .what-u-thinking-box {
    display:flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}
.what-u-thinking-box input{
    width: 100%;
    border-radius: 20px;
    background-color: #3a3b3c;
    border: none;
    padding: 10px;
    color: gray;
    font-weight:400;
}

.post-options-box ul {
    display: flex;
    justify-content: center;
}
.post-options-box ul li {
    list-style: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
}
.post-options-box ul li:hover {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
}
.post-options-box ul li i {
    margin-right: 5px;
}
.green {
    color: green;
}
.blue {
    color: rgb(59, 105, 255);
}

.lightblue {
    color: rgb(54, 226, 248);
}

/**************** SESSÃO DOS PUBLICAÇÕES ****************/
.publications-container {
    grid-area: publications;
    background-color: #242526;
    padding: 15px 15px 3px 15px;
    color: honeydew;
    border-radius: 10px;
}
.publications-container .publications-config-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3a3b3c;
    padding-bottom: 10px;
}

.publications-container .publications-config-box .filters-btn {
    display: flex;
    align-items: center;
}
.filters-btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #3a3b3c;
    margin-right: 10px;
}
.filters-btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #3a3b3c;
}
.filters-btn-1:hover, .filters-btn-2:hover {
    filter: brightness(120%);
}
.publications-container .publications-config-box .filters-btn p:nth-child(2){
margin-right: 10px;
}
.publications-container .publications-config-box .filters-btn i {
    margin-right: 7px;
}

.type-of-view-box {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.type-of-view-box .list-view {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #2d88ff;
    color: #2d88ff;
    cursor: pointer;
    padding: 10px 20px;
}
.type-of-view-box .grid-view {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
}
.type-of-view-box .grid-view:hover {
    background-color: rgba(128, 128, 128, 0.15);
}

.type-of-view-box .list-view i{
    margin: 7px;
}
.type-of-view-box .grid-view i {
    margin-right: 7px;
}

/************ SESSÃO DE FOTOS **************/

.photos-container {
    grid-area: photos;
    background-color: #242526;
    padding: 15px;
    color: honeydew;
    border-radius: 10px;
}

.photos-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.photos-title h2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.photos-title p {
    color: #2d88ff;
    padding: 5px 20px;
}
.photos-title p:hover {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

.grid-photos-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap:5px;
    justify-content: center;
    /* border: 1px solid green; */
    padding: 0px 15px;
}
.grid-photos-container img:first-child {
    border-radius: 6px 0px 0px 0px;
}
.grid-photos-container img:nth-child(3) {
    border-radius: 0px 6px 0px 0px;
}
.grid-photos-container img:nth-child(7) {
    border-radius: 0px 0px 0px 6px;
}
.grid-photos-container img:nth-child(9) {
    border-radius: 0px 0px 6px 0px;
}
.grid-photos-container img {
    height: 100px;
    width: 100px;
}
.grid-photos-container img:hover, .friends-grid-container img:hover {
    filter: contrast(85%);
    cursor: pointer;
}

/***************SESSÃO DOS MAIS QUE AMIGOS, FRIENDS ***********/
.friends-container {
    grid-area: friends;
    background-color: #242526;
    padding: 15px;
    color: honeydew;
    border-radius: 10px;
}
.friends-title {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 15px;
}
.friends-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}
.see-all-friends {
    color: #2d88ff;
    padding: 5px 20px;
}
.see-all-friends:hover {
    color: #2d88ff;
    padding: 5px 20px;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 5px;
    cursor: pointer;
}


.photo-box img {
   width: 100%;
   height: 100px;
   border-radius: 10px;
}
.photo-box p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
